html,body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5;
}
html{
    overflow-x:hidden;
}
h1{
    font-size:36px;
}
h2{
    font-size:30px;
}
h3{
    font-size:24px;
}
h4{
    font-size:20px;
}
h5{
    font-size:18px;
}
h6{
    font-size:16px;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0;
}
.ww-wide{
    letter-spacing:4px;
}
hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0;
}
.ww-bordered tr,.ww-table-all tr{
    border-bottom:1px solid #ddd
}
.ww-btn,.ww-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.ww-btn,.ww-button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}   
.ww-badge,.ww-tag{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}
.ww-input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}
.ww-bar-block .ww-dropdown-hover .ww-button,.ww-bar-block .ww-dropdown-click .ww-button{width:100%;text-align:left;padding:8px 16px}
.ww-center .ww-bar{
    display:inline-block;
    width:auto
}
.ww-bar .ww-button{
    white-space:normal
}
.ww-bar-block.ww-center .ww-bar-item{
    text-align:center
}
.ww-block{
    display:block;
    width:100%
}
.ww-responsive{display:block;
    overflow-x:auto
}
.ww-container:after,.ww-container:before,.ww-panel:after,.ww-panel:before,.ww-row:after,.ww-row:before,.ww-row-padding:after,.ww-row-padding:before,
.ww-cell-row:before,.ww-cell-row:after,.ww-clear:after,.ww-clear:before,.ww-bar:before,.ww-bar:after{
    content:"";
    display:table;
    clear:both
}
.ww-col,.ww-half,.ww-third,.ww-twothird,.ww-threequarter,.ww-quarter{
    float:left;
    width:100%
}
.ww-col.s3{
    width:24.99999%
}
.ww-col.s6{
    width:49.99999%
}
@media (min-width:601px){
    .ww-col.m3,.ww-quarter{
        width:24.99999%
    }.ww-col.m6,.ww-half{
        width:49.99999%
    }
}
.ww-content{
    max-width:980px;
    margin:auto
}
@media (max-width:600px){.ww-modal-content{margin:0 10px;width:auto!important}.ww-modal{padding-top:30px}
.ww-dropdown-hover.ww-mobile .ww-dropdown-content,.ww-dropdown-click.ww-mobile .ww-dropdown-content{position:relative}	
.ww-hide-small{display:none!important}.ww-mobile{display:block;width:100%!important}.ww-bar-item.ww-mobile,.ww-dropdown-hover.ww-mobile,.ww-dropdown-click.ww-mobile{text-align:center}
.ww-dropdown-hover.ww-mobile,.ww-dropdown-hover.ww-mobile .ww-btn,.ww-dropdown-hover.ww-mobile .ww-button,.ww-dropdown-click.ww-mobile,.ww-dropdown-click.ww-mobile .ww-btn,.ww-dropdown-click.ww-mobile .ww-button{width:100%}}
@media (max-width:768px){.ww-modal-content{width:500px}.ww-modal{padding-top:50px}}
@media (min-width:993px){.ww-modal-content{width:900px}.ww-hide-large{display:none!important}.ww-sidebar.ww-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.ww-hide-medium{display:none!important}}
@media (max-width:992px){.ww-sidebar.ww-collapse{display:none}.ww-main{margin-left:0!important;margin-right:0!important}}
.ww-top,.ww-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.ww-top{
    top:0
}
.ww-display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
.ww-display-bottomright{
    position:absolute;
    right:0;
    bottom:0}
.ww-display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
.ww-display-container:hover .ww-display-hover{
    display:block
}
.ww-display-container:hover span.ww-display-hover{
    display:inline-block
}
.ww-container,.ww-panel{
    padding:0.01em 16px
}
.ww-panel{
    margin-top:16px;
    margin-bottom:16px
}
.ww-card,.ww-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.ww-greyscale,.ww-grayscale{
    filter:grayscale(75%)
}
.ww-greyscale-min,.ww-grayscale-min{
    filter:grayscale(50%)
}
.ww-large{
    font-size:18px!important
}
.ww-center{
    text-align:center!important
}
.ww-border{
    border:1px solid #ccc!important
}
.ww-leftbar{
    border-left:6px solid #ccc!important
}
.ww-margin-top{
    margin-top:16px!important
}
.ww-padding{
    padding:8px 16px!important
}
.ww-padding-large{
    padding:12px 24px!important
}
.ww-padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}
.ww-padding-48{
    padding-top:48px!important;
    padding-bottom:48px!important
}
.ww-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}


/* Colors */
.ww-sand,.ww-hover-sand:hover{
    color:#000!important;
    background-color:#fdf5e6!important
}
.ww-black,.ww-hover-black:hover{
    color:#fff!important;
    background-color:#000!important
}
.ww-light-grey,.ww-hover-light-grey:hover,.ww-light-gray,.ww-hover-light-gray:hover{
    color:#000!important;
    background-color:#f1f1f1!important
}
.ww-dark-grey,.ww-hover-dark-grey:hover,.ww-dark-gray,.ww-hover-dark-gray:hover{
    color:#fff!important;
    background-color:#616161!important
}
.ww-text-green,.ww-hover-text-green:hover{
    color:#4CAF50!important
}
.ww-text-white,.ww-hover-text-white:hover{
    color:#fff!important
}
.ww-text-grey,.ww-hover-text-grey:hover,.ww-text-gray,.ww-hover-text-gray:hover{
    color:#757575!important
}